:root {
    --headerColor: pink;
    --bodyTextColor: white;
    --snippetColor: pink;
    --normalText: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    background-color: gray;
    box-sizing: border-box;
    /* background: linear-gradient(0deg, blue, green 40%, red); */
}

main {
    display: flex;
    flex-wrap: wrap;
    outline-style: solid;
    outline-color: yellow;
}

header {
    font-family: var(--normalText);
    text-align: center;
    font-size: 16px;
    transition: font-size 6s;
}

header:hover {
    font-size: 80px;
}

header h1 {
    font-family: var(--normalText);
    color: var(--headerColor);
}

header p {
    font-family: var(--normalText);
    color: var(--bodyTextColor);
}

h2 {
    font-family: var(--normalText);
    color: var(--headerColor);
    font-weight: bold;
}

p {
    color: var(--bodyTextColor);
}

pre {
    outline-style: solid;
    outline-color: black;
    color: var(--bodyTextColor);
}

div {
    display: inline-block; 
    padding: 1%;
    margin: 10px;
    outline-style: dashed;
    width: 30%;
}

div h2 {
    outline-style: solid;
    outline-color: white;
    outline-width: 2px;
    outline-offset: 5px;
}

@media screen and (max-width: 992px) {
    div {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    div {
        width: 100%;
    }
}